<div class="container">
  <div class="row">
  <% if (users.length > 0) { %>
    <article class="col-md-4-offset-4">
      <h3>Ironhack Platform Users</h3>
      <% if (currentUser.role === "Boss"){ %>
      <div class="col-sm-2 col-sm-offset-10">
        <a href="/admin">Add a new user</a>
      </div>
      <% } %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Family Name</th>
            <th>City</th>
            <th>Username</th>
            <th>Role</th>
            <% if (currentUser.role === "Boss"){ %>
            <th>Actions</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user) =>{ %>
        <tr>
           <td><%=user.name%></td>
           <td><%=user.familyName%></td>
           <td><%=user.city%></td>
           <td><%=user.username%></td>
           <td><%=user.role%></td>
           <% if (currentUser.role === "Boss"){ %>
             <form action="users/<%=user._id %>/delete" method="POST">
              <td><button class="btn btn-danger" type="submit">Delete User</button></td>
             </form>
             <% } %>
       </tr>
       <% }) %>
        </tbody>
      </table>
  </article>
  </div>
  <% } else { %>
    <h3>No Users yet</h3>
   <% } %>
 </div>
</div>
