<div class="container">
  <div class="row">
    <h3 class="text-muted">Edit course:</h3>
  <section class="col-md-6 col-md-offset-3">
    <form class="creation-form" action="/courses/<%= course._id %>" method="POST" id="form-container">
      <% if (typeof(message) != "undefined") { %>
        <div class="error-message"><%= message %></div>
      <% } %>
      <div class="">
        <label for="name">Name</label>
        <input type="text" value="<%= course.name%>" name="name" >
      </div>
       <div class="">
      <label for="startingDate">Begginning:</label>
        <input type="date" value="<%= course.startingDate %>" name="startingDate"
        selected >
      </div>%>
      <div class="">
        <label for="endDate">Ending</label>
        <input type="date" value="<%= moment(course.endDate).format('MMMM-Do-YYYY')%>" name="endDate"
        selected >
      </div>
      <div class="">
        <label for="level">Level</label>
        <select class="form-control medium" name="level">
          <option value="Beginner" selected >Beginner</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
      <div class="">
        <label for="available">Availability</label>
        <select class="form-control medium" name="available">
          <option value="true" selected >Yes</option>
          <option value="false">Not yet</option>
        </select>
      </div>
      <input type="hidden" name="courseId" value="<%= course._id%>">
      <button>Edit Course</button>
  </div>
</div>
